/* 
    Created on : Jun 13, 2015, 8:46:13 PM
    Author     : jakimfett
*/
*{
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    margin: 0px;
    padding: 0px;
}
html, body {
	height: 100%;
}
#page {
    background-image: url('../images/maze.jpg');
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    
    background-color: #000;
}
#content-container {
    width: 80%;
    margin: 0 auto;
}
#header {
    display: block;
    margin-left: auto;
    margin-left: auto;
    text-align: center;
}
#header-container {
    width: 100%;
}
#logo {
    width: 60%;
    position: relative;
    //background-color: #FFF;
    //border: 10px white solid;
    border-top: none;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
#header-spacer {
    height: 80px;
    width: 100%;
}
.floating-nav{ 
    z-index: 128; 
    position: fixed; 
    left: 0; 
    top: 0; 
    width: 100%;
}
#purchase-float, #navigation{
    text-align: center;
    height: 36px;
    background-color: #A20C0B;
    border-top: 1px #65655E solid;
    border-bottom: 1px #65655E solid;
    background-image: -webkit-linear-gradient(top, #a30d0d, #8f0b0b);
    background-image: -moz-linear-gradient(top, #a30d0d, #8f0b0b);
    background-image: -ms-linear-gradient(top, #a30d0d, #8f0b0b);
    background-image: -o-linear-gradient(top, #a30d0d, #8f0b0b);
    background-image: linear-gradient(to bottom, #a30d0d, #8f0b0b);
}
#navigation .nav-button i { 
    font-size: 1.2em; 
}
#purchase-float .nav-button, #navigation .nav-button {
    background: #a30d0d;
    background-image: -webkit-linear-gradient(top, #a30d0d, #8f0b0b);
    background-image: -moz-linear-gradient(top, #a30d0d, #8f0b0b);
    background-image: -ms-linear-gradient(top, #a30d0d, #8f0b0b);
    background-image: -o-linear-gradient(top, #a30d0d, #8f0b0b);
    background-image: linear-gradient(to bottom, #a30d0d, #8f0b0b);
    text-shadow: 2px 2px 3px #666666;
    color: #ffffff;
    font-size: 21px;
    text-decoration: none;
    padding: 6px;
}
.s-media-buttons {
    padding-top: 0px !important;
}
.s-media-buttons a {
    color: #ffffff;
    background: #a30d0d;
    text-decoration: none;
    font-size: 1.7em;
    padding-top: 0px;
    padding-left: 4px;
    margin-top: 0px;
    background-image: -webkit-linear-gradient(top, #a30d0d, #8f0b0b);
    background-image: -moz-linear-gradient(top, #a30d0d, #8f0b0b);
    background-image: -ms-linear-gradient(top, #a30d0d, #8f0b0b);
    background-image: -o-linear-gradient(top, #a30d0d, #8f0b0b);
    background-image: linear-gradient(to bottom, #a30d0d, #8f0b0b);
    text-shadow: 2px 2px 3px #666666;
}

#purchase-float .nav-button:hover, #navigation .nav-button:hover, .s-media-buttons a:hover {
    background: #8f0b0b;
    background-image: -webkit-linear-gradient(top, #8f0b0b, #a30d0d);
    background-image: -moz-linear-gradient(top, #8f0b0b, #a30d0d);
    background-image: -ms-linear-gradient(top, #8f0b0b, #a30d0d);
    background-image: -o-linear-gradient(top, #8f0b0b, #a30d0d);
    background-image: linear-gradient(to bottom, #8f0b0b, #a30d0d);
    text-decoration: none;
}
#purchase-float div, #navigation div {
    height: 100%;
    padding-top: 3px;
}
.left {
    position: relative;
    float: left;
}
.right {
    position: relative;
    float: right;
}
.center {
    width: 75%;
    margin: 0 auto;
}
#content-wrapper {
    width: 100%;
}
#content, #content-wrapper {
    background-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.85);
}
#tagline, #video-pitch {
    text-align: center;
}
#tagline {
    padding-top: 16px;
    padding-bottom: 4px;
    margin-bottom: 16px;
    border-bottom: 2px solid #A3A2A0;
}
#rooms, #blurbs {
    padding-top: 8px;
    padding-bottom: 32px;
}
#blurbs div{
    display: inline-block;
    width: 32%;
    vertical-align: top;
}
#blurbs div div{
    width: 70%;
    margin: 0 auto;
    padding: 0px;
    text-align: center;
}
#blurbs div div i{
    color: #A20C0B;
    font-size: 80px;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
#blurbs .circle {
    width: 140px;
    height: 140px;
    background: #000000;
    -moz-border-radius: 70px;
    -webkit-border-radius: 70px;
    border-radius: 70px;
}
#rooms div {
    display: inline-block;
    width: 49%;
    vertical-align: top;
}
#rooms div img {
    display: block;
    width: 80%;
    margin: 0px auto;
    padding: 0px;
}
#rooms p {
    width: 80%;
    margin: 0 auto;
    padding: 0px;
    text-align: justify;
}
#push {
    height: 80px;
}
#footer{
    height: 80px;
    background-color: #323232;
}
.hidden{
    display: none;
}