/*
    Created on : Jun 13, 2015, 8:46:13 PM
    Author     : jakimfett
*/
@media (max-width: 720px) {
    @viewport {
        width: 720px;
    }
}
@media(max-width: 720px){#footer-blurb{font-size: 90%}}
@viewport {
    width: 720px;
    min-zoom: 0.25;
    max-zoom: 5;
    orientation: landscape;
}
*{
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    margin: 0px;
    padding: 0px;
}
html, body {
    height: 100%;
}
#page {
    background-image: url('../images/maze.jpg');
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    min-width: 720px;
    background-color: #000;
}
#content-container {
    width: 80%;
    margin: 0 auto;
}
#header {
    display: block;
    margin-left: auto;
    margin-left: auto;
    text-align: center;
}
#header-container {
    width: 100%;
}
#logo {
    width: 60%;
    position: relative;
    border-top: none;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
#header-spacer {
    height: 80px;
    width: 100%;
}
.floating-nav{
    z-index: 128;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}
#purchase-float, #navigation{
    text-align: center;
    height: 36px;
    background-color: #A20C0B;
    border-top: 1px #65655E solid;
    border-bottom: 1px #65655E solid;
    width: 100%;
}
.nav-button {
    font-size: 1.2em;
    height: 24px;
}
#purchase-float .nav-button, #navigation .nav-button {
    display: inline-block;
    background: #a30d0d;
    text-shadow: 2px 2px 3px #666666;
    color: #ffffff;
    font-size: 21px;
    text-decoration: none;
    padding: 6px;
}
.s-media-buttons {
    padding-top: 0px !important;
    padding-right: 6px;
}
.s-media-buttons a {
    color: #ffffff;
    background: #a30d0d;
    text-decoration: none;
    font-size: 1.7em;
    padding-top: 0px;
    padding-left: 4px;
    margin-top: 0px;
    text-shadow: 2px 2px 3px #666666;
}
#purchase-float, #navigation, #purchase-float .nav-button, #navigation .nav-button, .s-media-buttons a{
    background-image: -webkit-linear-gradient(top, #a30d0d, #8f0b0b);
    background-image: -moz-linear-gradient(top, #a30d0d, #8f0b0b);
    background-image: -ms-linear-gradient(top, #a30d0d, #8f0b0b);
    background-image: -o-linear-gradient(top, #a30d0d, #8f0b0b);
    background-image: linear-gradient(to bottom, #a30d0d, #8f0b0b);
}
#purchase-float .nav-button:hover, #navigation .nav-button:hover {
    background: #8f0b0b;
    background-image: -webkit-linear-gradient(top, #8f0b0b, #a30d0d);
    background-image: -moz-linear-gradient(top, #8f0b0b, #a30d0d);
    background-image: -ms-linear-gradient(top, #8f0b0b, #a30d0d);
    background-image: -o-linear-gradient(top, #8f0b0b, #a30d0d);
    background-image: linear-gradient(to bottom, #8f0b0b, #a30d0d);
    text-decoration: none;
}
#purchase-float div, #navigation div {
    position: relative;
    height: auto;
    min-height: 100% !important;
}
.square-facebook-link-icon:hover{
    color: #3B5998;
    text-shadow: 2px 2px 32px #FFF;
}
.square-twitter-link-icon:hover{
    color: #55ACEE;
}
.left {
    position: relative;
    float: left;
}
.right {
    position: relative;
    float: right;
}
.center {
    width: 75%;
    margin: 0 auto;
}
#nav-tickets {
    min-width: 258px;
    max-width: 300px;
}
#content-wrapper {
    width: 100%;
}
#content-wrapper {
    background-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.7);
}
#content {
    background-color: rgba(255, 255, 255, 0.00);
}
#tagline, #video-pitch {
    text-align: center;
}
#tagline {
    padding: 16px 0px;
    margin-bottom: 16px;
    border-bottom: 2px solid #A3A2A0;
}
#rooms div {
    display: inline-block;
    width: 48%;
    vertical-align: top;
}
#rooms div img {
    display: block;
    width: 80%;
    margin: 0px auto;
    padding: 0px;
    padding-bottom: 20px;
}
#rooms p {
    width: 80%;
    margin: 0 auto;
    padding: 0px;
    text-align: center;
}
#rooms, #blurbs {
    padding-top: 8px;
    padding-bottom: 8px;
}
#blurbs {
    position: relative;
    left: 10px;
}
#previous-future-games {
    font-size: 120%;
    position: relative;
    padding-bottom: 32px;
    padding-top: 32px;
    margin-bottom: 16px;
    border-bottom: 2px solid #A3A2A0;
}
#previous-future-games a{
    text-decoration: none;
    color: #323232;
    font-style: italic;
}
#previous-games {
    float: left;
}
#future-games {
    float: right;
}
#blurbs div{
    display: inline-block;
    width: 31.6%;
    vertical-align: top;
}
#blurbs div div{
    text-align: center;
}
#blurbs div div, #blurbs div p{
    width: 70%;
    margin: 0 auto;
    padding: 0px;
}
#blurbs div p {
    padding-top: 16px;
    padding-bottom: 32px;
    text-align: center;
}
#blurbs div div i{
    color: #FFF;
    font-size: 80px;
    height: 80px;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
#blurb-center div i, #blurb-right div i{
    top: 46% !important;
}
#blurbs .circle {
    -moz-border-radius: 70px;
    -webkit-border-radius: 70px;
    background: #000000;
    border-radius: 70px;
    height: 140px;
    width: 140px;
    display: flex;
    justify-content: center;
}
#closing {
    padding-top: 4px;
    padding-bottom: 4px;
    margin: 0px auto;
    text-align: center;
    border-top: 2px solid #A3A2A0;
    min-width: 80%;
}
#breakline {
    width: 80%;
    padding-top: 4px;
    margin: 0px auto;
    text-align: center;
    height: 24px;
    border-top: 2px solid #A3A2A0;
}
.picture-container {
    width: 100%;
    display: block;
    padding: 8px;
    padding-top: 12px;
}
.picture-icon {
    font-size: 175%;
    padding-left: 8px;
    padding-right: 8px;
    margin: auto 0;
    color: #A20C0B;
}
.text-container {
    max-width: 75%;
    padding-left: 8px;
    padding-right: 8px;
}
.picture-left .text-container, .picture-left .picture-icon {
    float: left;
}
.picture-right .text-container, .picture-right .picture-icon {
    float: right;
    text-align: right;
}
.profile-picture {
    position: relative;
}
.profile-picture img {
    height: 200px;
    width: 150px;
}
.picture-right .profile-picture {
    float: right;

}
.picture-left .profile-picture {
    float: left;
}
.center-icon i {
    font-size: 600%;
}
.center-icon {
    width: 10%;
    margin: 0px auto;
}
#faq {
    padding-bottom: 18px;
}
#faq-maintext {
    padding: 16px;
    padding-top: 8px;
    text-align: center;
}
#contact-maintext {
    padding: 26px;
    text-align: center;
    border-bottom: 2px solid #A3A2A0;
}
#contact-profiles {
    padding: 26px;
    border-bottom: 2px solid #A3A2A0;
}
#contact-address {
    padding: 36px;
    text-align: center;
}
#subscribe-notice {
    padding: 16px;
    width: 80%;
    margin: 0px auto;
    text-align: center;
    min-height: 800px;
}
#subscribe-form{
    padding: 24px;
}
#unsubscribe-div {
    text-align: center;
    min-height: 500px;
}
#unsubscribe-image, #unsubscribe-contact, #unsubscribe-form {
    padding: 24px;
}
#games-maintext {
    padding: 26px;
    margin: 0px auto;
    text-align: center;
    border-bottom: 2px solid #A3A2A0;
}
.game-container{
    padding-top: 16px;
    padding-bottom: 16px;
}
.game-container .text-container{
    max-width: none;
}
.game-container .text-container h2 a{
    color: black;
}
.game-container .text-container h2 a:visited, .game-container .text-container h2 a:hover{
    color: #A20C0B;
}
.game-image {
    position: relative;
    margin: 0px;
    width: 33%;
    padding-top: 10px;
}
.game-image-right {
    float: right;
    padding-left: 16px;
}
.game-image-left {
    float: left;
    padding-right: 16px;
}
#games-profiles #closing{
    margin-top: 32px;
}
.single-game-container {
    text-align: center;
    padding-bottom: 26px;
}
.single-game-text-container{
    width: 100%;
}
.single-game-text-container #game-title{
    padding-top: 26px;
    padding-bottom: 6px;
    margin-bottom: 20px;
    border-bottom: 2px solid #A3A2A0;
}
.single-game-image {
    width: 80%
}
.game-story-text{
    padding: 16px;
}
.single-game-text-container p {
    text-align: left;
    padding-bottom: 10px;
}
#push {
    height: 80px;
}
#footer{
    min-height: 80px;
    background-color: #323232;
    min-width: 720px;
}
#footer-container{
    width: 70%;
    margin: 0 auto;
    height: 100%;
}
#footer-blurb {
    width: 80%;
    margin: 0px auto;
    padding-top: 16px;
    padding-bottom: 16px;
    text-align: center;
    color: #A3A2A0;
}
#footer-nav {
    width: 80%;
    padding-top: 4px;
    padding-bottom: 4px;
    margin: 0px auto;
    text-align: center;
}
#footer-nav a {
    color: #A3A2A0;
    padding-left: 16px;
    padding-right: 16px;
}
.hidden{
    display: none;
}
.clear {
    clear: both;
}
